@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
}

body {
    overflow: hidden;
    background-color: #252525;
}

h3 {
    color: rgb(207, 93, 0);
    font-size: 22px;
}

header {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
}

.cabecalho-link {
    color: rgb(207, 93, 0);
    display: flex;
    gap: 3rem;
    font-weight: 300;
    cursor: pointer;
    justify-content: flex-start;

}

button {
    color: rgb(138, 138, 138);
    background: transparent;
    border: solid 1px rgb(0, 0, 0);
    padding: 5px;
    border-radius: 15px;
    width: 150px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: rgb(207, 93, 0);
    color: aliceblue;
    transition: 0.5s;
}

.container-text {
    padding: 150px 0 0 130px;
    max-width: 1000px;
    margin: 0 auto
}

.text h3 {
    color: rgb(207, 93, 0);
    font-size: 30px;
}

.text h1 {
    color: rgb(255, 255, 255);
    margin-top: 10px;
}

.text span {
    color: rgb(207, 93, 0);
}

.text p {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-weight: 300;
    margin-top: 10px;
}

.redes-sociais {
    color: rgb(207, 93, 0);
    padding: 10px;
    margin-top: 5px;
}

.btn {
    margin-top: 10px;
}

.container-text {
    display: flex;
}

.text {
    flex-grow: 1;
}

.image-container {
    float: right;
}

.image-container img {
    border-radius: 10%;
}

body {
    height: 500px;
    /* Ajuste o valor conforme necessário */
    overflow-y: scroll;
    align-items: center;
    justify-content: center;
}
/* 
.itd-text {
    color: rgb(207, 93, 0);
    font-size: 7px;
} */

.container-experiencia span {
    color: rgb(207, 93, 0);
}

.container-experiencia {
    padding: 200px 0 0 130px;
    font-size: 32px;
}


.card {
    max-width: 20%;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    background-color: #474747;
    border: 1px solid #4d4d4d;
}

.card .card-content {
    text-align: center;
}

.card .card-content h3 {
    color: rgb(207, 93, 0);
    font-size: 20px;
    margin-bottom: 10px;
}

.card .card-content .card-text {
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 300;
    line-height: 1.5;
    max-height: 60px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.card .card-content button {
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 32px;
    border: 0;
    cursor: pointer;
    font-size: 70%;
    font-weight: 500;
}

.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
}


.container-habilidades span {
    color: rgb(207, 93, 0);
}

.container-habilidades {
    padding: 200px 0 0 130px;
    font-size: 32px;
}

.container-cardskill {
    display: grid;
    grid-template-columns: repeat(3, 35%);
    /* Definir o tamanho das colunas como 20% */
    grid-gap: -10px;
    /* Adicionar um espaçamento negativo para compensar o espaço extra */
    margin-top: 50px;
    text-align: right;
}

.skill-card {
    position: relative;
    overflow: hidden;
}

.skill-card img {
    width: 100%;
    /* Definir o tamanho das imagens como 100% */
    height: auto;
    transition: transform 0.3s ease;
}

.skill-card:hover img {
    transform: scale(1.1);
}

.skill-card:hover .overlay {
    opacity: 1;
}

.skill-card .overlay::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 24px;
}

.container-projetos {
    max-width: 100%;
    display: flex;
    padding: 6%;
}

/* ----------Home */
.title-profile{
    font-size: 30px;
}
#s-about .grid-layout>div {
    background-color: #474747;
    border: 2px solid #4d4d4d;
    padding: 24px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto
}

#s-about .grid-layout>div div:nth-child(2) {
    width: 49%
}

#s-about .grid-layout>div div:nth-child(2) h2 {
    font-size: 3rem;
    font-weight: 500;
    margin: 16px 0px;
    color: rgb(207, 93, 0)
}


#s-about .grid-layout>div div:nth-child(2) h3 {
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 16px;
    color: #ffffff
}

#s-about .grid-layout>div div:nth-child(2) h4 {
    font-size: 2rem;
    font-weight: 500;
    color: #ffffff
}

#s-about .grid-layout>div div:nth-child(2) p {
    font-size: 1rem;
    color: #ffffff;
    line-height: 160%;
    margin: 32px 0px 48px 0px
}


.image-grid img {
    float: left;
    border-radius: 10%;
}

.grid-layout {
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 5%;
}

/* ---------------Conhecimentos */
#s-hab .hab-grid>div {

    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    margin: 5%;
}

#s-hab .hab-grid>div div:nth-child(2) {
    max-width: 200%
}

.hab-grid {
    max-width: 50%;
    margin: 0 auto;
    text-align: justify;
}

/* ---------------------Logo */
.logo {
    font-weight: bold;
    font-size: 25px;
}

.corLogo {
    color: rgb(207, 93, 0);
    font-size: 40px;
    font-weight: bold;
}

.skill {
    max-width: 100%;
}
/* ----------------------ScrollButtonTop */
#scrollButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    background-image: url('icones/deslize-para-cima.png');
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.button-card {
    margin-top: 100px;
}
/* -------------------rodape */

footer {
    background-color: #474747;
    padding: 20px;
    text-align: center;
    color: #ffffff;
  }